<section id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>About Me</h2>
        <hr />
      </div>
    </div>
    <div class="row">
	    <div class="col-sm-6">
    		<p>
            Hailing from India, I am a Masters student in Computer Science from Wichita State University, KS, USA. After completing my undergraduate degree in Computer Science
			 and Engineering, I worked at the software solutions company Infosys Ltd for over 3 years as Senior Systems Engineer. Trained in Java, Objective C, HTML and CSS, my expertise 
			 is building mobile applications using Swift and Java. During my time in the industry, I had the opportunity to work with many notable clients giving me 
			 valuable insight and leadership oppotunities. Currently I work part time in the University teaching Introduction to programming and Object Oriented programming labs using C++.
        </p>
        <p>
           Being a hard worker and a team player, I'm looking for an opportunity where I can learn something new and grow everyday.
           I hope for a challenging yet supportive work environment where there is no limit to imagination and possibilities.
           I'm looking for a front end developer role where I can take on
           team leadership responsibilites and gain experience with
           project management. In my spare time I like cooking, music and travel.
        </p>
      </div>
	    <div class="col-sm-6">
		    <h3 style="margin-top:0;">Highlights</h3>
		    <ul>
    			<li>
            Single handedly handled the iOS and OSX versions of a hybrid application for a client.
    			</li>
          <li>
            Presented research and proof-of-concept to modify customer aspects of the application which resulted in better uasability.
			</li>
          <li>
            Migrated an Objective C project to Swift and added extra security features by providing service calls to added on server.
			</li>
    			<li>
            Worked on applications from scratch and seen through entire life cycle untill and after deployment.
    			</li>
    			<li>
            Selected for Graduate Reseach and Scholarly Projects (GRASP) symposium 2018 following development of an android application for wheelchair users, and for
			Honorary scholarship from WSU. 
    			</li>
				<li>
				IEEE EKN member.
				</li>
				<li>
            Organized and co-ordinated successful college and work place events.
    			</li>
		    </ul>
	    </div>
    </div>
  </div>
</section>
