<section class="tout" id="projects">
    <div class="container">
      <div class="row">
            <div class="col-lg-12 text-center">
                <h2>Projects</h2>
                <hr />
            </div>
        </div>
            <div class="row">
                <div class="col-sm-6">
		    <!--<p>
			    My personal interests include:
        </p>-->
			<ul>
			  <li>
				 <b>Hybrid app for educational technology provider Follett</b>: Single handedly developed, debugged and assisted for deployment the iOS and OSX versions of the application which would download selected pdf or epub books and render them. Additional features like highlight, mark, meaning etc also implemented.
			  </li>
			  <li>
				  <b>Native iOS in-store app for client Daimler for Mercedes</b>: Part of a team of 5 to develop the application from scratch to view models, personalize, watch videos and estimate a quote on the cars. Also presented PoC's for better client usability.
			  </li>
			  <li>
				  <b>Native iOS app enhancement for clent Nordstrom</b>: Joined part of a team to help enhance the security features of the retail application by providing and connecting service calls to added on off site servers.
      </li>
	  <li>
				  <b>Native iOS on-field app for client Nike</b>: Helped develop the application from start, used by feild agents to track, manage and monitor ambassadors. Also to take stock and estimate quote.
      </li>
			</ul>
		</div>
    <div class="col-sm-6">
      <h3 style="margin-top:0">Recent Projects</h3>
		  <ul>
  			<li>
          Android application for wheelchair users to help them open doors by pressing a button on the app with a system of bluetooth relay switches, rear view camera and panic button.
    		</li>
  			<li>
          Android application that can change the mode of the phone by sending text messages. Most software models implemented in the structure.
  			</li>
			<li>
          Implemented an efficient n-queens problem, BST operations etc using Java.
  			</li>
  		    </ul>
  		    <h3>Internship and Undergraduate project</h3>
  		    <ul>
  			<li>
           Interned at Cochin University of Management Studies and reworked on their website. Also helped set up the e-learning software 'moodle' for the institution.
  			</li>
  			<li>
  			  Worked in a team of 3 to build a lip movement tracking software which captures the movement to estimate the word said using matlab. Worked almost efficiently for a set of 5 words.
  			</li>
		   </ul>
      </div>
    </div>
  </div>
</section>
